<ul class='crud-menu-btn list-inline float-right'>
  <li class="list-inline-item">
    <%= link_to edit_question_path(question), id: "button-edit-#{question.id}" do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>
  </li>
  <li class="list-inline-item">
    <%= link_to question_path(question), method: :delete, data: { confirm: '本当に削除しますか？' }, id: "button-delete-#{question.id}" do %>
      <i class="fa-solid fa-trash-can"></i>
    <% end %>
  </li>
</ul>