<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <!-- 掲示板内容 -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-9'>
              <h3 class="d-inline"><%= @question.title %></h3>
            </div>
          </div>
          <p><%= simple_format(@question.body) %></p>
        </div>
      </article>
    </div>
  </div>
  <div class="row">
  <div class="col-lg-8 offset-lg-2">
    <table id="js-table-comment" class="table">
      <%= render @answers %>
    </table>
  </div>
</div>
</div>